<section id="lists">
    <div class="container">
        <h1>Lists</h1>
        <p>HTML lists are used to organize and structure content in a clear and easy-to-read format. They come in two
            types: ordered (numbered) and unordered (bulleted).</p>
        <h2>Ordered Lists</h2>
        <p>Ordered lists are created using the <code>&lt;ol&gt;</code> element, and each list item is represented by the
            <code>&lt;li&gt;</code> element. The default numbering style is decimal, but this can be changed using the
            type attribute.</p>
        <h2>Unordered Lists</h2>
        <p>Unordered lists are created using the <code>&lt;ul&gt;</code> element, and each list item is represented by
            the <code>&lt;li&gt;</code> element. The default bullet style is a disc, but this can be changed using the
            type attribute.</p>
        <h2>Lists Example</h2>
        <div class="code-block">
            <pre>
          <code class="language-html">
  &lt;h2&gt;My Favorite Fruits&lt;/h2&gt;
  &lt;ul&gt;
    &lt;li&gt;Apples&lt;/li&gt;
    &lt;li&gt;Bananas&lt;/li&gt;
    &lt;li&gt;Oranges&lt;/li&gt;
  &lt;/ul&gt;
  
  &lt;h2&gt;Steps to Make a Sandwich&lt;/h2&gt;
  &lt;ol type="1"&gt;
    &lt;li&gt;Take two slices of bread&lt;/li&gt;
    &lt;li&gt;Add your favorite fillings&lt;/li&gt;
    &lt;li&gt;Close the sandwich and enjoy!&lt;/li&gt;
  &lt;/ol&gt;
          </code>
        </pre>
        </div>
        <p>In this example, we have used an unordered list to create a list of my favorite fruits, and an ordered list
            to create a list of steps to make a sandwich. Using the <code>&lt;ul&gt;</code> and <code>&lt;ol&gt;</code>
            elements and the <code>&lt;li&gt;</code> elements, we can easily create and structure lists of items in an
            easy-to-read format. Additionally, we can change the default numbering or bullet style by using the type
            attribute. Lists are a great way to organize and structure content, making it easy to understand and follow.
        </p>
    </div>
</section>