<section id="attributes">
    <div class="container">
        <h1>Attributes</h1>
        <p>HTML attributes provide additional information about the elements they are applied to and can be used to
            change the default behavior or presentation of those elements. They are used to define characteristics such
            as id, class, and style of an element.</p>
        <h2>Common Attributes</h2>
        <ul>
            <li>id: used to uniquely identify an element</li>
            <li>class: used to group elements together for styling or scripting purposes</li>
            <li>style: used to apply CSS styles to an element</li>
            <li>src: used to specify the source of an element, such as an image or a link</li>
            <li>href: used to specify the destination of a link</li>
        </ul>
        <h2>Attributes Example</h2>
        <div class="code-block">
            <pre>
          <code class="language-html">
  &lt;img id="logo" class="header-logo" src="logo.png" alt="Logo"&gt;
  &lt;a href="https://www.example.com" style="color: blue;"&gt;Visit our website&lt;/a&gt;
          </code>
        </pre>
        </div>
        <p>In this example, we have used the id attribute to give the image element an unique identifier of "logo", the
            class attribute to group the image with the class "header-logo" for styling purposes, the src attribute to
            specify the source of the image, and the alt attribute to provide a text description of the image for
            accessibility purposes. We also have used href attribute to specify the destination URL of the link and
            style attribute to apply CSS styles to the link element. By utilizing attributes, we can add additional
            information and change the behavior and presentation of HTML elements.
        </p>
    </div>
</section>