<section id="tables">
    <div class="container">
      <h1>HTML Tables</h1>
      <p>In this section, we will learn about the different HTML elements that are used to create tables on a webpage.</p>
  
      <h2>Table Elements</h2>
      <p>The table, tr, th, and td tags are used to create tables, table rows, table headers, and table cells.</p>
  
      <h3>Example:</h3>
      <div class="code-block">
        <pre>
          <code>
  &lt;table&gt;
    &lt;tr&gt;
      &lt;th&gt;Header 1&lt;/th&gt;
      &lt;th&gt;Header 2&lt;/th&gt;
      &lt;th&gt;Header 3&lt;/th&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Row 1, Cell 1&lt;/td&gt;
      &lt;td&gt;Row 1, Cell 2&lt;/td&gt;
      &lt;td&gt;Row 1, Cell 3&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Row 2, Cell 1&lt;/td&gt;
      &lt;td&gt;Row 2, Cell 2&lt;/td&gt;
      &lt;td&gt;Row 2, Cell 3&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/table&gt;
          </code>
        </pre>
        
      </div>
    </div>
  </section>
  