<section id="iframes">
    <div class="container">
      <h1>IFrames</h1>
      <p>An IFrame (Inline Frame) is an HTML document embedded inside another HTML document on a website. It allows you to embed other websites, documents, or media within your own webpage.</p>
      <h2>IFrame Example</h2>
      <p>In this example, we have used the <code>&lt;iframe&gt;</code> element to embed a Google Maps webpage within our own webpage.</p>
      <div class="code-block">
        <pre>
          <code class="language-html">
  &lt;iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14031.464923693637!2d-96.8272068!3d32.7845472!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9f3a0c3e3b8e7d0a!2sDeep+Ellum!5e0!3m2!1sen!2sus!4v1535880019162" width="600" height="450" frameborder="0" style="border:0" allowfullscreen&gt;&lt;/iframe&gt;
          </code>
        </pre>
      </div>
      <p>In this example, the <code>src</code> attribute is used to specify the URL of the webpage to be embedded within the <code>&lt;iframe&gt;</code> element. The <code>width</code> and <code>height</code> attributes are used to specify the size of the IFrame, and the <code>frameborder</code> attribute is used to specify whether or not the border should be displayed. Additionally, the <code>allowfullscreen</code> attribute is used to allow the embedded webpage to be viewed in fullscreen mode.
      </p>
    </div>
  </section>
  