/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container {
    max-width: 800px;
    margin: 0 auto;
}

h2, h3 {
text-align: left;
}

h1{
    text-align: center;
    font-weight: bolder;
}

.code-block {
background-color: #f1f1f1;
padding: 10px;
margin-top: 10px;
overflow-x: auto;
}

code {
font-size: 14px;
}

.sticky-toolbar {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0; /* sets the toolbar to stick to the top of the page */
    z-index: 1; /* sets the toolbar to be on top of other elements */
}