<div class="container">
    <h1>Text Formatting</h1>
    <p>In this section, we will learn about the different HTML elements that are used to format text on a webpage.</p>

    <h2>Bold Text</h2>
    <p>The b tag is used to make text bold.</p>
    <h3>Example:</h3>
    <div class="code-block">
        <code>
        &lt;p&gt;This is a paragraph of text. &lt;b&gt;This part is bold.&lt;/b&gt;&lt;/p&gt;
      </code>
    </div>

    <h2>Italic Text</h2>
    <p>The i tag is used to make text italic.</p>
    <h3>Example:</h3>
    <div class="code-block">
        <code>
        &lt;p&gt;This is a paragraph of text. &lt;i&gt;This part is italic.&lt;/i&gt;&lt;/p&gt;
      </code>
    </div>

    <h2>Underlined Text</h2>
    <p>The u tag is used to underline text.</p>
    <h3>Example:</h3>
    <div class="code-block">
        <code>
        &lt;p&gt;This is a paragraph of text. &lt;u&gt;This part is underlined.&lt;/u&gt;&lt;/p&gt;
      </code>
    </div>

    <h2>Strikethrough Text</h2>
    <p>The s tag is used to create a strikethrough effect on text.</p>
    <h3>Example:</h3>
    <div class="code-block">
        <code>
        &lt;p&gt;This is a paragraph of text. &lt;s&gt;This part has a strikethrough.&lt;/s&gt;&lt;/p&gt;
      </code>

    </div>

    <h2>Marked Text</h2>
    <p>The mark tag is used to highlight text.</p>
    <h3>Example:</h3>
    <div class="code-block">
        <code>
        &lt;p&gt;This is a paragraph of text. &lt;mark&gt;This part is highlighted.&lt;/mark&gt;&lt;/p&gt;
      </code>
    </div>

    <h2>Subscript Text</h2>
    <p>The sub tag is used to create subscript text.</p>
    <h3>Example:</h3>
    <div class="code-block">
        <code>
        &lt;p&gt;This is a paragraph of text. &lt;sub&gt;This part is subscript.&lt;/sub&gt;&lt;/p&gt;
      </code>
    </div>

    <h2>Superscript Text</h2>
    <p>The sup tag is used to create superscript text.</p>
    <h3>Example:</h3>
    <div class="code-block">
        <code>
        &lt;p&gt;This is a paragraph of text. &lt;sup&gt;This part is superscript.&lt;/sup&gt;&lt;/p&gt;
      </code>
    </div>
</div>